@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

header {
    text-align: center;
    margin: 3rem .6rem;

    h1 {
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 1rem;
        margin-bottom: 1rem;
    }

    p {
        span {
            cursor: pointer;
            background-color: rgba(204, 228, 117, 1);
            padding: 1px 4px 2px 4px;
            transition: all .5s ease;

            a {
                text-decoration: none;
                color: black;
            }

            &:hover {
                background-color: rgba(204, 228, 117, .6);
            }
        }
    }
}


.grid {
    display: flex;
    padding: 0 10%;
   

    .grid-col {
        flex: 1;
        margin: 0 2px;
    }

    .grid-item {
        position: relative;
        transition: all .5s ease;

        img {
            display: inline-block;
            width: 100%;
            height: auto;
            transition: all .3s ease;
        }

        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: calc(100% - 4px);
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            clip-path: circle(0% at 0 0);
            transition: all .6s ease;
        }

        &:hover::before{
            clip-path: circle(300% at 0 0);
        }

        &:hover {
            transform: translate(-3%, -5%);
        }

        &:hover img {
            box-shadow: 8px 8px 4px rgb(158, 158, 158);
        }
    }
}

// 뷰포트의 가로가 1080px 이하일 때
@media screen and (max-width: 1080px) {
    .grid-col--4 {
        display: none;
    }

    .grid {
        padding: 0 5%;
    }

}

// 뷰포트의 가로가 768px 이하일 때
@media screen and (max-width: 768px) {
    .grid-col--3 {
        display: none;
    }

    .grid {
        padding: 0 5%;
    }

}

// 뷰포트의 가로가 575px 이하일 때
@media screen and (max-width: 576px) {
    .grid-col--2 {
        display: none;
    }

    .grid {
        padding: 0;
        
        .grid-col {
            margin: 0;
        }
    }

}